<?xml version='1.0' encoding='utf-8'?>
<widget id="fi.metatavu.TnpApp" version="0.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Työväen Näyttämöpäivät</name>
    <description>Application that will be used during Työväen Näyttämöpäivät to inform visitors about different happenings around the city.</description>
    <author email="info@metatavu.fi" href="https://metatavu.fi">
      Metatavu Oy
    </author>
    <content src="index.html" />
    <access origin="https://ssl.gstatic.com" />
    <access origin="https://www.tnp.fi" />
    <access origin="http://*.tile.stamen.com" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="orientation" value="portrait" />
    <preference name="windows-identity-name" value="MetatavuOy.Tyvennyttmpivt" />
    <preference name="target-device" value="handset" />
    <preference name="SplashScreenDelay" value="0" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-geolocation" spec="~2.2.0" />
    <engine name="browser" spec="^5.0.3" />
</widget>
